language: node_js
node_js:
  - lts/*
script:
  - npm run docs:build
deploy:
  provider: pages
  skip-cleanup: true
  local_dir: docs/.vuepress/dist
  github-token: ${GITHUB_TOKEN}
  committer_from_gh: true
  keep-history: true
  on:
    branch: master
